In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("C:/Users/fizza/Downloads/applicants_data.csv")
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

C:\Users\fizza\anaconda3\envs\dev1\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
non_categorical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile and Evaluate a Binary Classification Model Using a Neural Network

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  int(number_input_features / 2)

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  int(hidden_nodes_layer1 / 2)

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='relu'))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 2)                 60

=================================================================
Total params: 8,557
Trainable params: 8,557
Non-trainable params: 0
_________________________________________________________________

Compile and fit the model using the binary_crossentropy loss function, the adam optimizer, and the accuracy evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3088 - accuracy: 0.5641
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0411 - accuracy: 0.5443
Epoch 3/50
804/804 [==============================] - 1s 988us/step - loss: 0.9117 - accuracy: 0.5484
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8515 - accuracy: 0.5118
Epoch 5/50
804/804 [==============================] - 1s 990us/step - loss: 0.9921 - accuracy: 0.4988
Epoch 6/50
804/804 [==============================] - 1s 970us/step - loss: 0.9679 - accuracy: 0.5197
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9333 - accuracy: 0.5233
Epoch 8/50
804/804 [==============================] - 1s 981us/step - loss: 0.9553 - accuracy: 0.5079
Epoch 9/50
804/804 [==============================] - 1s 999us/step - loss: 0.9336 - accuracy: 0.5151
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8672 - accuracy: 0.5027
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8380 - accuracy: 0.4895
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8397 - accuracy: 0.5021
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8149 - accuracy: 0.5198
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7231 - accuracy: 0.5087
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6715 - accuracy: 0.4544
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6476 - accuracy: 0.4840
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6421 - accuracy: 0.4841
Epoch 18/50
804/804 [==============================] - 1s 980us/step - loss: 0.6526 - accuracy: 0.5018
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6497 - accuracy: 0.5465
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6395 - accuracy: 0.5306
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6320 - accuracy: 0.5512
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6410 - accuracy: 0.4891
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6395 - accuracy: 0.4971
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6250 - accuracy: 0.5027
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6080 - accuracy: 0.5015
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6166 - accuracy: 0.5073
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6067 - accuracy: 0.4916
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6218 - accuracy: 0.4591
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6357 - accuracy: 0.4087
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6141 - accuracy: 0.4618
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6101 - accuracy: 0.4665
Epoch 32/50
804/804 [==============================] - 1s 999us/step - loss: 0.6122 - accuracy: 0.4474
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5994 - accuracy: 0.4793
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6097 - accuracy: 0.5421
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6194 - accuracy: 0.4877
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6299 - accuracy: 0.5045
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6132 - accuracy: 0.5088
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6143 - accuracy: 0.5258
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6066 - accuracy: 0.4894
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6037 - accuracy: 0.4920
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6093 - accuracy: 0.5084
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6105 - accuracy: 0.4514
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6130 - accuracy: 0.5032
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6034 - accuracy: 0.5158
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6061 - accuracy: 0.5036
Epoch 46/50
804/804 [==============================] - 1s 991us/step - loss: 0.6015 - accuracy: 0.5185
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5949 - accuracy: 0.4625
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5950 - accuracy: 0.5000
Epoch 49/50
804/804 [==============================] - 1s 978us/step - loss: 0.5960 - accuracy: 0.5106
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6003 - accuracy: 0.5347

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6428 - accuracy: 0.4806 - 317ms/epoch - 1ms/step
Loss: 0.6427915096282959, Accuracy: 0.4805831015110016

In [27]:
# Set the model's file path
file_path = Path('C:/Users/fizza/Downloads/assignment 13 data/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path, save_format='h5')

Optimize the neural network model

Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = number_input_features * 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

232

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))

# Adding second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1 / 2, activation='relu'))

# Adding third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1 / 4, activation='relu'))

# Adding fourth hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1 / 8, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='relu'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 232)               27144

 dense_4 (Dense)             (None, 116)               27028

 dense_5 (Dense)             (None, 58)                6786

 dense_6 (Dense)             (None, 29)                1711

 dense_7 (Dense)             (None, 2)                 60

=================================================================
Total params: 62,729
Trainable params: 62,729
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8002 - accuracy: 0.5199
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6989 - accuracy: 0.4494
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6825 - accuracy: 0.4674
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6549 - accuracy: 0.4671
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6295 - accuracy: 0.4433
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6234 - accuracy: 0.4214
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6304 - accuracy: 0.4500
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6122 - accuracy: 0.4302
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6066 - accuracy: 0.4052
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6065 - accuracy: 0.4507
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6106 - accuracy: 0.4484
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6044 - accuracy: 0.4570
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5956 - accuracy: 0.5199
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5968 - accuracy: 0.5255
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5964 - accuracy: 0.4722
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5964 - accuracy: 0.5890
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5887 - accuracy: 0.6150
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5899 - accuracy: 0.6270
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5932 - accuracy: 0.6004
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5996 - accuracy: 0.6546
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5875 - accuracy: 0.6604
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5739 - accuracy: 0.6664
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5847 - accuracy: 0.6180
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5810 - accuracy: 0.6657
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5698 - accuracy: 0.5900
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5754 - accuracy: 0.5291
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5884 - accuracy: 0.4858
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.5176
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5830 - accuracy: 0.5652
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6246 - accuracy: 0.4200
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5829 - accuracy: 0.4104
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6019 - accuracy: 0.5687
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5794 - accuracy: 0.6388
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5794 - accuracy: 0.6499
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5767 - accuracy: 0.6065
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6033 - accuracy: 0.5329
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5979 - accuracy: 0.5914
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5909 - accuracy: 0.6170
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6239 - accuracy: 0.5686
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5987 - accuracy: 0.5423
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5821 - accuracy: 0.5339
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5976 - accuracy: 0.5601
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5993 - accuracy: 0.5940
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6007 - accuracy: 0.4544
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6219 - accuracy: 0.4728
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5991 - accuracy: 0.5456
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5869 - accuracy: 0.5966
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5969 - accuracy: 0.5892
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6402 - accuracy: 0.5663
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5962 - accuracy: 0.6250

Alternative Model 2

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.columns)

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = number_input_features * 0.5

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58.0

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [44]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 58)                6786

 dense_9 (Dense)             (None, 1)                 59

 dense_10 (Dense)            (None, 58)                116

 dense_11 (Dense)            (None, 1)                 59

=================================================================
Total params: 7,020
Trainable params: 7,020
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [47]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 1s 918us/step - loss: 0.5979 - accuracy: 0.7023
Epoch 2/10
804/804 [==============================] - 1s 952us/step - loss: 0.5722 - accuracy: 0.7306
Epoch 3/10
804/804 [==============================] - 1s 933us/step - loss: 0.5656 - accuracy: 0.7293
Epoch 4/10
804/804 [==============================] - 1s 991us/step - loss: 0.5568 - accuracy: 0.7330
Epoch 5/10
804/804 [==============================] - 1s 918us/step - loss: 0.5542 - accuracy: 0.7313
Epoch 6/10
804/804 [==============================] - 1s 931us/step - loss: 0.5524 - accuracy: 0.7339
Epoch 7/10
804/804 [==============================] - 1s 999us/step - loss: 0.5513 - accuracy: 0.7318
Epoch 8/10
804/804 [==============================] - 1s 980us/step - loss: 0.5506 - accuracy: 0.7321
Epoch 9/10
804/804 [==============================] - 1s 976us/step - loss: 0.5491 - accuracy: 0.7330
Epoch 10/10
804/804 [==============================] - 1s 983us/step - loss: 0.5490 - accuracy: 0.7340

Displaying Models Accuracy

In [49]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6428 - accuracy: 0.4806 - 201ms/epoch - 750us/step
Loss: 0.6427915096282959, Accuracy: 0.4805831015110016

In [51]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6157 - accuracy: 0.5416 - 251ms/epoch - 936us/step
Loss: 0.6156760454177856, Accuracy: 0.5415743589401245

In [53]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5599 - accuracy: 0.7283 - 183ms/epoch - 682us/step
Loss: 0.5599064230918884, Accuracy: 0.7282798886299133

Saving Each Alternative model

In [55]:
# Set the file path for the first alternative model
file_path = Path('C:/Users/fizza/Downloads/assignment 13 data/Resources/alt_model_1')

# Export your model to a HDF5 file
nn_A1.save(file_path, save_format='h5')

In [56]:
# Set the file path for the second alternative model
file_path = Path('C:/Users/fizza/Downloads/assignment 13 data/Resources/alt_model_2')

# Export your model to a HDF5 file
nn_A2.save(file_path, save_format='h5')